<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'users/info', {user: @user} %>
      <div class="col-md-8 offset-md-1">
        <h2 class="font">映画一覧</h2>
        <%= form_with url: movie_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :keyword, placeholder: "タイトルまたはジャンル" %>
          <%= button_tag type: "submit", class: "btn-default" do %>
            <i class="fas fa-search">検索</i>
          <% end %>
        <% end %>
        <table class="table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>レビュー</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <% @movies.each do |movie| %>
            <tr>
              <td><%= link_to movie.title, movie_path(movie.id) %></td>
              <td><%= movie.body.truncate(20) %></td>
              <td><%= movie.genre %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @movies %>
      </div>
    </div>
  </div>
</main>