<main>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render 'users/info', {user: @user} %>
      <div class="col-md-8 offset-md-1">
        <h2>映画一覧</h2>
        <%= form_tag(movie_search_path, method: "get") do %>
          <%= select_tag(:genre, options_for_select([["アクション", "アクション"], ["アドベンチャー", "アドベンチャー"], ["アニメ", "アニメ"], ["ファンタジー", "ファンタジー"], ["ミステリー", "ミステリー"], ["恋愛", "恋愛"], ["SF", "SF"], ["その他", "その他"]])) %>
          <%= submit_tag "絞り込み" %>
        <% end %>
        <table class="table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>レビュー</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <% @movies.each do |movie| %>
            <tr>
              <td><%= link_to movie.title, movie_path(movie.id) %></td>
              <td><%= movie.body %></td>
              <td><%= movie.genre %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>