<main>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render 'users/info', {user: @user} %>
      <div class="col-md-8 offset-md-1">
        <h2>映画詳細</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= @movie.title %></td>
              <td colspan="2"><%= @movie.body %></td>
              <td><%= @movie.genre %></td>
            </tr>
            <tr>
              <td>
                <% if @movie.user == current_user %>
                  <%= link_to "編集", edit_movie_path(@movie.id), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
              <td>
                <% if @movie.user == current_user %>
                  <%= link_to "削除", movie_path(@movie.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
              <td>
                <% if @movie.favorited_by?(current_user) %>
                  <p>
                    <%= link_to movie_favorites_path(@movie), method: :delete do %>
                      ♥<%= @movie.favorites.count %> いいね
                    <% end %>
                  </p>
                  <% else %>
                  <p>
                    <%= link_to movie_favorites_path(@movie), method: :post do %>
                      ♡<%= @movie.favorites.count %> いいね
                    <% end %>
                  </p>
                <% end %>
              </td>
              <td><%= @movie.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        </table>
        <h3>投稿へのコメント</h3><p>コメント件数：<%= @movie.movie_comments.count %></p>
        <table class="table">
          <tbody>
            <% @movie.movie_comments.each do |movie_comment| %>
            <tr>
              <td><%= movie_comment.user.name %></td>
              <td colspan="2"><%= movie_comment.comment %></td>
              <td>
                <%= movie_comment.created_at.strftime('%Y/%m/%d') %><br />
                <% if movie_comment.user == current_user %>
                <div>
                  <%= link_to "削除", movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete %>
                </div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <h4>コメントを投稿</h4>
        <%= form_with(model:[@movie, @movie_comment], local: true) do |f| %>
        　<%= f.text_area :comment, rows:'3',placeholder: "コメントをここに" %>
        　<%= f.submit "投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</main>