<p><%= @resource.name %> 様</p>

 <p><%= t("パスワードを忘れた場合にメールを送信しています。") %></p>

 <p><%= link_to t("パスワード変更画面へのリンク"), edit_password_url(@resource, :reset_password_token => @token ) %></p>
 <p><%= t("こちらのリンクからパスワードを変更してください。") %></p>

 <p><%= t("心当たりのない場合は無視してください。") %></p>